
.vs/PasswordWallet_console/v16/Server/sqlite3/storage.ide
.vs/PasswordWallet_console/DesignTimeBuild/.dtbcache
.vs/PasswordWallet_console/v16/Server/sqlite3/storage.ide
.vs/PasswordWallet_console/v16/Server/sqlite3/storage.ide
